body {
    background-color: #36393f;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    color: white;
    border: 0;
}

input[type="text"],
input[type="password"] {
    border-radius: 3px;
    padding: 2px;
    background-color: #40444B;
}

#guilds {
    position: fixed;
    background-color: #202225;
    width: 72px;
    height: 100vh;
}

#channels {
    position: fixed;
    background-color: #2f3136;
    width: 240px;
    height: 95vh;
    margin-left: 72px;
}

#profileOpenMy {
    position: fixed;
    background-color: #292b2f;
    width: 240px;
    bottom: 0;
    height: 5vh;
    margin-left: 72px;
}

.direct-message,
.dm-title {
    border-radius: 6px;
    color: white;
    padding: 10px;
    margin: 10px;
}

.dm-button {
    border-radius: 6px;
    color: rgb(150, 152, 157);
    padding: 10px;
    margin: 10px;
}

.direct-message:hover,
.dm-button:hover {
    background-color: #45474e;
}

.guild-avatar {
    width: 61px;
    height: 61px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

#profileOpenMy {
    color: white;
}

#messages {
    color: white;
    position: absolute;
    margin-left: 330px;
    padding-bottom: 8vh;
}
.message {
    padding-top: 15px;
}

button {
    border: 0;
    padding: 6px;
    border-radius: 3px;
}

.registerButton {
    border: 0;
    padding: 6px;
    border-radius: 3px;

    background-color: black;
}

#message_type_box {
    height: 5vh;
    width: 100vw;
    position: fixed;
    margin-left: 310px;
    bottom: 0;
}

.button_red {
    color: white;
    background-color: #CC3333;
}

.button_gray {
    color: white;
    background-color: #666666;
}

/* #overlay-loading {
    position: fixed;
    background-color: #2f3136;
    height: 100vh;
    width: 100vw;
} */

.error {
    color: rgb(255, 0, 0);
}

.modal {
    background-color: #36393f;
    color: white;
    border-radius: 6px;

    position: fixed;
    height: 100vh;
    width: 100vw;
}